<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/404style.css" />
    <title>Hata</title>
</head>
<body>
    <link rel="stylesheet" href="~/Content/404style.css" />
    <h1>500</h1>
    <p class="zoom-area">Bir Sorun Var.</p>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">5</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">0</span></span>
    </section>
</body>
</html>
