@*<div class="error-page center-item">
        <h1>404</h1>
        <h2>Sanırım Kayboldunuz. Yukarıdaki Menülerden Aradığınız Sayfalara Ulaşabilirsiniz.</h2>
    </div>*@
<link rel="stylesheet" href="~/Content/404style.css" />
<h1>404 Sayfa Bulunamadı</h1>
<p class="zoom-area">Sanırız Kayboldun.</p>
<p class="zoom-area">Yukarıdaki Menülerden Başka Sayfalara Ulaşabilirsin</p>
<section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
</section>